@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playpen+Sans:wght@100..800&display=swap');
@import "tailwindcss";

*{
    font-family: Playpen Sans;
}

/* Hide scrollbars globally while keeping scroll functionality */
html, body {
    -ms-overflow-style: none; /* IE and old Edge */
    scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}